* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f7f1f1;
  font-size: 62.5%;
  font-size: 1.2rem;
  font-family: "Arizonia", cursive;
  height: 100%;
}

:root {
  --input-height: 44px;
}
